.linkStyle{
    color:#ba8964;
    font-family: "Atami-Bold" ;  
}

.linkStyle:hover{
   transition: 0.5s;
}

.activeLink{
    color:black;
    transition: 1s;
}

.hamburgerIcon > span{
    background-color: #C3A06A;
    width: 25px;
    height: 2px;
    display: block;
}

.hamburgerIcon{
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    z-index: 10;
}

.menu{
    position: absolute;
    top: 0;
    left:-100%;
    width: 100vw;
    height: 100vh;
    background-color: #000000f1;
    color:#C3A06A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.activeMenu{
    left:0;
}

.firstLine{
    transform: rotate(0deg);
    transition: 0.3s;
}

.secondLine{
    transform: translateX(0px);  
    opacity: 1;
    transition: 0.3s;
}

.thirdLine{
    transform: rotate(0deg);
    transition: 0.3s;
}

.firstLineAnim{
    transform-origin: bottom right;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.secondLineAnim{
  transform: translateX(-20px);  
  opacity: 0;
  transition: 0.3s;
}

.thirdLineAnim{
    transform-origin: top right;
    transform: rotate(45deg);
    transition: 0.3s;
}

.langActiveLink{
    text-decoration: underline;
}
