@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atami-Bold";
  src: url("../../public/assets/font/Atami-Bold.otf");
}

@font-face {
  font-family: "Atami-Display-Bold";
  src: url("../../public/assets/font/Atami-Display-Bold.otf");
}

@font-face {
  font-family: "Atami-Regular";
  src: url("../../public/assets/font/Atami-Regular.otf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

h1,h2, h3, span{
  color: #C3A06A;
}

h1,h2{
  font-family: "Atami-Display-Bold";
}

a,h3, span{
  font-family: "Atami-Bold";
}

p{
  font-family: "Atami-Regular";
  color: #c4b998;
}

.swiper-slide-active{
  opacity: 1 !important;
  pointer-events: all !important;
} 

.swiper-slide-thumb-active{
  border: 1px solid #C3A06A;
}


.swiper-button-prev, .swiper-button-next{
  width: 50px !important;
  height: 50px !important;
  background-color: #191716;
}

.swiper-button-prev, .swiper-button-next{
  visibility: collapse;
}

.swiper-button-prev:hover{
  transform: translateX(-25px);
 }

.swiper-button-next:hover{
 transform: translateX(25px);
}

.swiper-button-prev::after, .swiper-button-next::after{
  content: none !important;
}

@media screen and (min-width: 1024px) {

  /* .swiper-slide{
    width: 50% !important;
  } */

  .swiper-button-prev{
    visibility: visible;
    left: 25% !important;
    transition: 0.3s ease;
    border: 1px solid #C3A06A;
  }
  
  .swiper-button-next{
    visibility: visible;
    right: 25% !important;
    transition: 0.3s ease;
    border: 1px solid #C3A06A;
  }
}
