@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atami-Bold" ;
  src: url("../../public/assets/font/Atami-Bold.otf");
}

@font-face {
  font-family: "Atami-Display-Bold" ;
  src: url("../../public/assets/font/Atami-Display-Bold.otf");
}

@font-face {
  font-family: "Atami-Regular" ;
  src: url("../../public/assets/font/Atami-Regular.otf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

h1,h2, h3, span{
  color: #C3A06A;
}

h1,h2{
  font-family: "Atami-Display-Bold" ;
}

h3, span{
  font-family: "Atami-Bold" ;
}

p{
  font-family: "Atami-Regular";
  color: #c4b998;
}

.swiper-slide{
  opacity: 0.3;
  height: 500px !important;
  width: 80% !important;
  transition: 0.8s ease-in-out;
  pointer-events: none;
}

.swiper-slide-active{
  border: 1px solid #C3A06A;
  opacity: 1;
  pointer-events: all;
}


.swiper-slide > div {
  /* transition: 0.8s cubic-bezier(.5,1.10,.47,1.36);; */
  /* transform: translateY(-100px); */
}


.swiper-slide-active >  div {
  /* transform: translateY(-200px); */
}

/* .swiper-slide-prev{
  opacity: 0.3;
}

.swiper-slide-next{
  opacity: 0.3;
} */

.swiper-button-prev, .swiper-button-next{
  width: 50px !important;
  height: 50px !important;
  background-color: #191716;
}

.swiper-button-prev, .swiper-button-next{
  visibility: collapse;
}

.swiper-button-prev:hover{
  transform: translateX(-25px);
 }

.swiper-button-next:hover{
 transform: translateX(25px);
}

.swiper-button-prev::after, .swiper-button-next::after{
  content: none !important;
}

/* a:hover{
  background-color: #0b0a09;
} */

@media screen and (min-width: 1024px) {

  .swiper-slide{
    width: 50% !important;
  }

  .swiper-button-prev{
    visibility: visible;
    left: 25% !important;
    transition: 0.3s ease;
    border: 1px solid #C3A06A;
  }
  
  .swiper-button-next{
    visibility: visible;
    right: 25% !important;
    transition: 0.3s ease;
    border: 1px solid #C3A06A;
  }
}
