@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atami";
  src: url("../../public/assets/image/font/Gilroy-Bold.ttf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

h1{
  font-family: "Atami";
}

.swiper-slide{
  opacity: 0.3;
  height: 500px !important;
  width: 80% !important;
  transition: 0.8s ease-in-out;
}

.swiper-slide-active{
  border: 1px solid #ba8964;
  opacity: 1;
}


.swiper-slide > div {
  /* transition: 0.8s cubic-bezier(.5,1.10,.47,1.36);; */
  /* transform: translateY(-100px); */
}


.swiper-slide-active >  div {
  /* transform: translateY(-200px); */
}

/* .swiper-slide-prev{
  opacity: 0.3;
}

.swiper-slide-next{
  opacity: 0.3;
} */

.swiper-button-prev, .swiper-button-next{
  width: 50px !important;
  height: 50px !important;
  background-color: #191716;
}

.swiper-button-prev, .swiper-button-next{
  visibility: collapse;
}

.swiper-button-prev:hover{
  transform: translateX(-25px);
 }

.swiper-button-next:hover{
 transform: translateX(25px);
}

.swiper-button-prev::after, .swiper-button-next::after{
  content: none !important;
}

a:hover{
  background-color: #0b0a09;
}

@media screen and (min-width: 1024px) {

  .swiper-slide{
    height:100% !important;
    width: 50% !important;
  }

  .swiper-button-prev{
    visibility: visible;
    left: 25% !important;
    transition: 0.3s ease;
    border: 1px solid #ba8964;
  }
  
  .swiper-button-next{
    visibility: visible;
    right: 25% !important;
    transition: 0.3s ease;
    border: 1px solid #ba8964;
  }
}
